[submodule "resources/protos"]
	path = resources/protos
	url = https://github.com/dzming-git/DAI-grpc-protos.git
[submodule "src/consul"]
	path = src/consul
	url = https://github.com/dzming-git/DAI-consul-python.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "src/utils"]
	path = src/utils
	url = https://github.com/dzming-git/DAI-utils-python.git
[submodule "src/grpc/clients"]
	path = src/grpc/clients
	url = https://github.com/dzming-git/DAI-grpc-clients-python.git
