# consul ------------------------------------------------------------------------
python-consul

# REST ------------------------------------------------------------------------
flask
requests
werkzeug

# gRPC ------------------------------------------------------------------------
grpcio
grpcio-tools
protobuf

# tools ------------------------------------------------------------------------
pyyaml