# consul ------------------------------------------------------------------------
python-consul

# REST ------------------------------------------------------------------------
flask
requests

# gRPC ------------------------------------------------------------------------
grpcio
grpcio-tools
protobuf

# tools ------------------------------------------------------------------------
pyyaml