# REST ------------------------------------------------------------------------
flask
requests
werkzeug

# gRPC ------------------------------------------------------------------------
grpcio
grpcio-tools==1.60.0
protobuf==4.21.6

# tools ------------------------------------------------------------------------
pyyaml